---
import Layout from "../layouts/Layout.astro";
import HeaderV4 from "../components/HeaderV4.astro";
import HeroV2 from "../components/HeroV2.astro";
import NewServices from "../components/NewServices.astro";
import Portfolio from "../components/Portfolio.astro";
import LogoTicker from "../components/LogoTicker.astro";
import FAQ from "../components/FAQ.astro";
import SchedulerV3 from "../components/SchedulerV3.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Agencia de Diseño y Desarrollo Web a Medida">
  <HeaderV4 />
  <main
    class="relative bg-black border-x border-white/5 mx-auto max-w-[1920px]"
  >
    <HeroV2 />
    <div class="border-t border-white/5">
      <LogoTicker />
    </div>
    <div class="border-t border-white/5">
      <NewServices />
    </div>
    <div class="border-t border-white/5">
      <Portfolio />
    </div>
    <div class="border-t border-white/5">
      <FAQ />
    </div>
    <div class="border-t border-white/5">
      <SchedulerV3 />
    </div>
  </main>

  <Footer />
</Layout>
