---
interface Props {
  for?: string;
  class?: string;
  required?: boolean;
}

const { for: forInput, class: className, required } = Astro.props;
---

<label
  for={forInput}
  class:list={[
    "text-[10px] font-bold tracking-[0.2em] uppercase text-zinc-500 mb-2 block font-mono",
    className,
  ]}
>
  <slot />
  {required && <span class="text-accent ml-1">*</span>}
</label>
